# DATABASE_URI=mongodb://127.0.0.1/VPMSclients
DATABASE_URI=mongodb://127.0.0.1:27017/payload
PAYLOAD_SECRET=change-me-must-match-miv/.env-PAYLOAD_SECRET

# SMTP Configuration for Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM_EMAIL=your-email@gmail.com

# Email Recipients
ADMIN_NOTIFICATION_EMAIL=admin@example.com
# App URLs
NEXT_PUBLIC_SITE_URL=http://localhost:3000
